.percentage-body{
  width: 283px;
  height: 8px;
  border-radius: 4px;
  background-color: #D9D9D9;
  box-shadow: 0px 1px 3px 0px #00000040;
  &__amount{
    background-color: #00FF00;
    height: 8px;
    border-radius: 4px;
  }
}
.title{
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;

}