<div class="main-section">
    <span class="main-title">Battle of Monsters</span>
    <app-monster-list [monsters]="monsters" (selected)="monsterSelected($event)"></app-monster-list>
    <div class="winner-layout" *ngIf="battleResult !== null">
        <span class="winner-layout__text">Dead {{ battleResult.winner.name }} wins!</span>
    </div>
    <div class="battle-section">
        <app-monster-battle-card [monster]="player" [title]="player?player.name:'Player'"></app-monster-battle-card>
        <button mat-button class="start-battle-button" [disabled]="!player" [class.active]="player"
            [class.inactive]="!player" (click)="battle()">
            Start Battle
        </button>
        <app-monster-battle-card [monster]="computer" title="Computer">
        </app-monster-battle-card>
    </div>
</div>