@import "../../../styles/variables";

.main-section {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: 0 auto;
    max-width: 814px;
}
.battle-section {
    display: grid;
    align-items: center;
    gap: 25px;
    grid-template-columns: 1fr 150px 1fr;
}
.main-title {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}
.active {
    background-color: #10782e !important;
}
.inactive {
    background-color: #799a82 !important;
}
.start-battle-button {
    color: white !important;
    font-family: $font-family-root !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 21px !important;
    text-transform: capitalize !important;
    padding: 12px 30px!important;
    box-shadow: $box-shadow-button;
    pointer-events: visible !important;
}
.winner-layout{
    width: 814px;
    height: 61px;
    top: 5px;
    left: 1142px;
    border-radius: 4px;
    border: 1px solid #000000;
    box-shadow: -2px 3px 10px 0px #00000040;
    background-color: #E1F8FF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__text{
        font-family: Roboto;
        font-size: 22px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 20px;
    }
}
