@import "../../../styles/variables";

.mat-card-image {
    width: 100%;
    margin: 0;
    display: block;
    overflow: hidden;
}
.mat-card-image:first-child {
    margin-top: 0;
}
.battle-card-player {
    padding: 13px 11px;
    height: 415px;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: $box-shadow;
    position: relative;
}
.centralized {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.title {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}

.properties-list{
    list-style-type: none;
    padding-left: 0px;
    >li{
        margin-bottom: 10px;
    }
}

.title-shown{
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}

.monster-image{
    width: 283px;
    border-radius: 7px;
    margin-top: 20px !important;
    box-shadow: 0px 0px 10px 0px #00000040;

}

.line{
    width: 283px;
    top: 239px;
    left: -475px;
    border: 1px solid #0000001A;
}