<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<div>
    <mat-card class="battle-card-player centralized">
        <p *ngIf="monster == null" class="title">{{ title }}</p>
        <ng-container *ngIf="monster != null">
            <img [src]="monster.imageUrl" alt="monster image" class="monster-image">
            <p class="title-shown">{{ monster.name }}</p>
            <div class="line"></div>
            <ul class="properties-list">
                <li>
                    <app-monster-battle-card-prop title="HP" [percentage]="monster?.hp ?? 0"></app-monster-battle-card-prop>
                </li>
                <li>
                    <app-monster-battle-card-prop title="Attack" [percentage]="monster?.attack ?? 0"></app-monster-battle-card-prop>
                </li>
                <li>
                    <app-monster-battle-card-prop title="Defense" [percentage]="monster?.defense ?? 0"></app-monster-battle-card-prop>
                </li>
                <li>
                    <app-monster-battle-card-prop title="Speed" [percentage]="monster?.speed ?? 0"></app-monster-battle-card-prop>
                </li>
            </ul>
        </ng-container>
    </mat-card>
</div>